In [5]:
from pyspark.sql import SparkSession
 
from pyspark.sql.functions import current_date,year
 
from pyspark.sql.types import IntegerType,StructType,StructField,StringType
 
from datetime import datetime, date
 
from pyspark import SparkContext

import os

os.environ['PYSPARK_PYTHON'] = "C:/Users/apple/AppData/Local/Programs/Python/Python311/python"
 
# Tạo SparkSession
spark = SparkSession.builder \
    .appName("AuthorsAges") \
    .getOrCreate()

# Tạo DataFrame
data_df = spark.createDataFrame([
    ("Brooke", 20), ("Denny", 31), ("Jules", 30),
    ("TD", 35), ("Brooke", 25)
], ["name", "age"])

# Hiển thị kết quả
data_df.show()

+------+---+
|  name|age|
+------+---+
|Brooke| 20|
| Denny| 31|
| Jules| 30|
|    TD| 35|
|Brooke| 25|
+------+---+