In [19]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [21]:
df = spark.read.json('people.json').cache()

In [22]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [23]:
df.show()

+----+--------+
| age|    name|
+----+--------+
|NULL|Michael1|
|  23|Michael2|
|  24|Michael3|
+----+--------+

In [24]:
df.columns

['age', 'name']

In [25]:
df.describe().show()

+-------+------------------+--------+
|summary|               age|    name|
+-------+------------------+--------+
|  count|                 2|       3|
|   mean|              23.5|    NULL|
| stddev|0.7071067811865476|    NULL|
|    min|                23|Michael1|
|    max|                24|Michael3|
+-------+------------------+--------+

In [26]:
df.describe()

DataFrame[summary: string, age: string, name: string]