In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [ ]:
df = spark.read.json('people.json').cache()

In [ ]:
df.printSchema()

In [ ]:
df.show()

In [ ]:
df.columns

In [ ]:
df.describe().show()

In [ ]:
df.describe()

In [ ]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [ ]:
data_schema = [StructField('age', IntegerType(), True), StructField('name', StringType(), True)]

In [ ]:
final_struc = StructType(fields=data_schema)

In [ ]:
df= spark.read.json('people.json', schema=final_struc)

In [ ]:
df.printSchema()

In [ ]:
df.show()

In [ ]:
type(df['age'])

In [ ]:
df.select('age').show()

In [ ]:
df.head(2)

In [ ]:
df.select(['age', 'name']).show()

In [ ]:
df.withColumn('newage', df['age']).show()

In [ ]:
df.show()

In [ ]:
df.withColumnRenamed('age', 'my_new_age').show()

In [ ]:
df.createOrReplaceTempView('people')

In [ ]:
results = spark.sql("SELECT * FROM people")

In [ ]:
results.show()

In [ ]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [ ]:
new_results.show()